* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, gray, black);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Header  */
.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, red, black, grey);
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  z-index: 1000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#siteIconimg {
  /* position: absolute; */
  width: 150px;
  height: 40px;
}

#inputbox {
  min-width: 300px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: linear-gradient(120deg, black, gray);
  color: red;
}

#searchbar {
  display: flex;
  position: relative;
}

#searchBtn {
  mix-blend-mode: color;
}

#searchBtnIcon {
  height: 40px;
  width: 40px;
  padding: 5px;
}

#favIcon {
  width: 30px;
  /* margin-left:50px; */
  mix-blend-mode: color;
  cursor: pointer;
}

#header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modeChangeIcon {
  mix-blend-mode: screen;
  width: 30px;
  /* margin-right:20px; */
  cursor: pointer;
}

#favouritesicon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

#favouritesicon p {
  color: white;
}

.modeChanged {
  background-color: #ffffff !important;
  background: rgb(255, 255, 255) !important;
  color: black !important;
}

.modechangedp p,
.modechangedp h3 {
  color: black;
}

/* Main  */
main {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container{
  background: linear-gradient(135deg, gray, black);
  min-width: 100vw;
  min-height: 100vh;
  transition: filter 0.2s;
}

.container2 {
  display: block;
  background: linear-gradient(135deg, gray, black);
  min-width: 100vw;
  min-height: auto;
  transition: filter 0.2s;
}

.container2:hover {
  filter: drop-shadow(0 0 0.75rem greenyellow);
}

.container2 button {
  padding: 10px;
  background-color: rgb(27, 24, 24);
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}

.cardsContainer,
#homepage {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.likedContainer {
  display: none;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 29, 29);
  width: 300px;
  max-width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  overflow-y: auto;
  transition: transform 0.2s;
}

.card:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
  transform: scale(1.05);
  transition: filter 0.5s, transform 0.5s;
  cursor: pointer;
}

.card p {
  color: gainsboro;
  text-transform: uppercase;
  font-weight: 600;
}

.character-img-container {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.character-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#likeImg,
#unlikeImg {
  height: 20px;
  mix-blend-mode: color;
}

#card-detail-section {
  display: none;
}

/*Search*/
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(243, 238, 238, 0.3);
}

.listItem:hover {
  background-color: rgb(53, 51, 51, 0.3);
  cursor: pointer;
}

.innerliDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerliDiv img {
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

#likeImg2 {
  background: none;
  height: 20px;
  margin-left: 30px;
  border-radius: 10px;
}

.listItem p {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

#searchContainer {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(246, 240, 240, 0.3);
  width: auto;
  height: 500px;
  overflow-y: auto;
  margin-top: 4em;
  border-radius: 20px;
  
}

#searchContainer::-webkit-scrollbar {
  width: 12px;
  
}

#searchContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, red, purple);
  border-radius: 6px;
}

.minimal-details {
  background: linear-gradient(255, white, rgb(0, 0, 0), 0.3);
  width: 70%;
  height: 40%;
  display: flex;
  flex: 1;
  margin-top: 30px;
}

.card-character {
  flex: 1;
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.card-character img {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 5px;
}

.card-detail {
  flex: 1;
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-detail p {
  color: blue;
  font-size: 1.5em;
  text-align: justify;
  margin-bottom: 10px;
}

.card-detail h2 {
  color: red;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-detail h3 {
  color: whitesmoke;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info-cards {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  margin: 20px 0;
}

.detailsContainerCard {
  height: 300px;
  width: 200px;
  background: linear-gradient(120deg, grey, red, black);
  border-radius: 20px;
  flex: 0 0 auto;
}

.detailsImgDiv {
  width: 100%;
  height: 65%;
  border-radius: 20px;
}

.detailsImgDiv img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.detailsContainerCard p {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: small;
}

.info-heading {
  color: rgb(144, 28, 28);
  font-weight: 600;
  text-transform: uppercase;
  filter: drop-shadow(5px 7px 6px rgba(251, 5, 5, 0.3));
}

.info-cards::-webkit-scrollbar {
  height: 10px;
}

.info-cards::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, red, purple);
  border-radius: 6px;
}

/* Footer  */
footer {
  display: block;
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, red, black, grey);
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  z-index: 9000;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer-buttons {
  display: flex;
}

.footerText {
  color: rgb(161, 156, 156);
  margin-top: 10px;
}

.apiBtn {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
  margin-right: 20px;
  background: linear-gradient(120deg, white, red);
  border-radius: 20px;
  min-width: 60px !important;
}

.apiBtn:hover {
  filter: drop-shadow(0 0 0.5rem white);
  transform: scale(1.05);
  transition: filter 0.5s, transform 0.5s;
}


@media screen and (max-width: 600px) {
  .header-div {
    display: block;
    height: fit-content;
  }

  .container{
    margin-top:220px;
    margin-bottom: 40px;
  }

  .container2{
    margin-top:50px;
    margin-bottom: 40px;
  }
}

